# general
*.py[cod]
__pycache__/
.DS_Store

# for pywikibot
apicache-py3
pywikibot.lwp
user-config.py
throttle.ctrl
.idea

# mediawiki scraper
mediawiki_scraper/mwtext
mediawiki_scraper/gum_tei
