[submodule "gum"]
	path = srcdata/gum
	url = https://github.com/amir-zeldes/gum/
	branch = master
[submodule "mediawiki_scraper/parsoid"]
	path = mediawiki_scraper/parsoid
	url = git@github.com:wikimedia/parsoid.git
