pre-commit
black
pyyaml
peewee
requests
unidecode
praw
pytz
stanfordnlp
pandas<0.24
scikit-learn
gensim
python-pmap
nltk
keras
rfpimp
xgboost
numpy
scipy
opencc-python-reimplemented
hyperopt
wget
pytorch-pretrained-bert
xrenner
adabound
textblob
