pre-commit
black
pyyaml
pywikibot
mwparserfromhell
peewee
requests
gutenberg
unidecode
langdetect
praw
bs4
pytz
stanfordnlp
pandas<0.24
scikit-learn
gensim
python-pmap
nltk
keras
rfpimp
xgboost
numpy
scipy
opencc-python-reimplemented
hyperopt
wget
