pre-commit
black
pyyaml
pywikibot
mwparserfromhell
peewee
requests
gutenberg
unidecode
flair==0.4.5
langdetect
praw
bs4
pytz
stanfordnlp
pandas<0.24
scikit-learn
gensim
python-pmap
nltk
rfpimp
xgboost
numpy
scipy
opencc-python-reimplemented
hyperopt
wget
pytorch-pretrained-bert
xrenner
adabound
textblob
